<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Roll Dice Exercise</title>
</head>
<body>
<img src="/img/rollerdie.png" width="600px" />
<br />
    <a href="roll-dice/1" method="GET"><img src="/img/dice1.png" width="75px" /></a>
    <a href="roll-dice/2" method="GET"><img src="/img/dice2.png" width="75px" /></a>
    <a href="roll-dice/3" method="GET"><img src="/img/dice3.png" width="75px" /></a>
    <a href="roll-dice/6" method="GET"><img src="/img/dice4.png" width="75px" /></a>
    <a href="roll-dice/4" method="GET"><img src="/img/dice5.png" width="75px" /></a>
    <a href="roll-dice/5" method="GET"><img src="/img/dice6.png" width="75px" /></a>

<br />
Guess the Number!
<br />
<input class="form-control" type="number" th:value="${rollNumber}" min="1" max="6" />
<br />
<button type="submit" >feel lucky?</button>
<div th:if="${rollNumber != null}">

    <h1 th:if="${match}">YES YOU WON!<br /><img src="https://y.yarn.co/0c861f72-845f-489d-b430-495ecc4ea547_100_h_6.gif" /></h1>
    <h1 th:if="!${match}">sorry you die</h1>
    <h4><a href="/roll-dice">roll again?</a></h4>
</div>


</body>
</html>